

:root {
  --text: #000000;
  --background: #dcaacf;
  --primary: #efc66c;
  --secondary: #24b8e0;
  --accent: #fff5ff;
}

* {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--background);
}

h1 {
  font-size: 3rem;
  color: var(--accent);
  text-align: center;
  filter: drop-shadow(0px 0px 5px var(--accent))
}

h3 {
  text-align: center;
  font-size: 1.25rem;
}

[checked="false"] {
  background-color: var(--primary);
}

[checked="true"] {
  background-color: var(--secondary);
}

.selectionWrapper {
  display: flex;
  justify-content: space-around;
}

.checkbox {
  border: 3px solid var(--accent);
  border-radius: 3px;
  height: 50vw;
  width: 25vw;
  filter: drop-shadow(0px 0px 3px var(--accent));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.checkbox span {
 
}

#buttonDiv {
  text-align: center;
}

button {
  margin: 13px;
  width: 30vw;
  border-radius: 10px;
  background-color: var(--accent);
  filter: drop-shadow(2px 2px 4px var(--accent))
}