

:root {
  --text: #000000;
  --background: #dcaacf;
  --primary: #efc66c;
  --secondary: #24b8e0;
  --accent: #fff5ff;
}

* {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
}

html {
  overflow: hidden;
}

body {
  background: rgb(219,169,206);
  background: linear-gradient(180deg, rgba(219,169,206,1) 0%, rgba(152,150,200,1) 100%);
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 3rem;
  color: var(--accent);
  text-align: center;
  filter: drop-shadow(0px 0px 5px var(--accent));
  margin-bottom: 0;
}
h2 {
  margin: 0;
  text-align: center;
  font-style: italic;
  color: var(--text);
}

h3 {
  text-align: center;
  font-size: 1.25rem;
}

[checked="false"] {
  background-color: var(--primary);
}

[checked="true"] {
  background-color: var(--secondary);
}

.selectionWrapper {
  display: flex;
  justify-content: space-around;
}

.checkbox {
  border: 3px solid var(--accent);
  border-radius: 3px;
  min-height:20vh;
  max-height: 30vh;
  width: 25vw;
  filter: drop-shadow(0px 0px 3px var(--accent));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.checkbox span {
 
}

#buttonDiv {
  text-align: center;
}

#resultButton {
  margin: 13px;
  width: 30vw;
  border-radius: 10px;
  background-color: var(--accent);
  filter: drop-shadow(2px 2px 4px var(--accent));
  margin: 1rem auto;
  cursor: pointer;
}

#resultButton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

#resultButton:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

#resultsBox {
  position: relative;
}

#resultsBox p {
  display: inline-block;
}

#maybe {
  width: 15vw;
  justify-self: start;
  padding-left: 1rem;
}

#result {
  font-size: 1.25rem;
  max-width: 60vw;
  min-width: 60vw;
  margin: auto;
  color: var(--accent);
  text-align: center;
  border: 3px solid var(--accent);
  border-radius: 5px;
  background: rgb(103,81,97);
  background: linear-gradient(180deg, rgba(103,81,97,1) 0%, rgba(220,170,207,1) 100%);
  padding: 1rem;
  filter: drop-shadow(0px 0px 5px var(--accent))
}

#deco {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: -1;
}





#tag {
  position: absolute;
  right: 0.5rem;
  margin right: 0.5rem;
}

#tag a {
  color: var(--text);
  text-decoration: none;
}

#tag span {
  font-size: 0.5rem;
  color: var(--black);
}

#bonusDiv {
  position: absolute;
  right: 2.5rem;
  top: -0.5rem;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 3px;
  opacity: 75%;
}

#bonusText {
  color: var(--text);
  font-size: 0.5rem;
  line-height: 0.5rem;
}